<% layout("./layouts/boilerplate") -%>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="campground[title]" id="title" placeholder="Camp Title" value="<%= campground.title %>">
        </div>
    
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" name="campground[location]" id="location" placeholder="Camp Location" value="<%= campground.location %>">
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="image">Image</label>
          <input class="form-control" type="text" name="campground[image]" id="image" placeholder="Camp Image Url" value="<%= campground.image %>">
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text" id="campground-price">$</span>
            <input type="text" class="form-control" placeholder="0.00" name="campground[price]" aria-label="Campground Price" aria-describedby="campground-price" value="<%= campground.price %>">
          </div>
        </div>
        
        <div class="mb-3">
          <label class="form-label" for="desc">Description</label>
          <textarea class="form-control" name="campground[description]" id="desc" placeholder="Camp Description" rows="3"><%= campground.description %>
          </textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-info">Update campground</button>
        </div>
      </form>
      <div>
        <a href="/campgrounds/<%= campground._id %>">Cancel</a>
      </div>
    </div>
  </div>